# Visual Studio
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.ncb
*.aps
*.opendb
*.tss
*.dbmdl

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio Code
.vscode/
.history/

# Angular
/node_modules/
/dist/
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/.pnpm-debug.log

# IDE specific files
.idea/
*.sublime-workspace
*.sublime-project

# Operating system files
.DS_Store
Thumbs.db

# Compiled source
*.class
*.dll
*.exe
*.o
*.so
*.pdb
*.idb

# Logs
*.log

# Ignore compiled files
*.js
*.js.map
*.css
*.css.map

# Ignore local environment settings
.env
.env.local

# Allow essential files and folders
!/src/
!/angular.json
!/package.json
!/tsconfig.json
!/tsconfig.app.json
!/tsconfig.spec.json
frontend-evoltis/node_modules/* 